nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  border-bottom: 2px solid lightgray;
  font-size: 2.5rem;
  background-color: white;
}

body {
  margin-top: 100px;
}

.para-1 {
  color: darkred;
}
.para-2 {
  font-weight: bold;
}
.para-3 {
  text-decoration: underline;
}
